<div *ngIf="usageSummary.resource == 0 || usageSummary.resource == 1">
  <h3>{{usageSummary.resource | resourceAsString }}</h3>
  <div class="summary">
    <div>Current bill</div>
    <div>${{usageSummary.currentCost | number: '1.2-2'}}</div>

    <div>Total usage</div>
    <div>{{usageSummary.actualUsage | number: '1.2-2'}} {{unitName}}</div>

    <div>Average daily usage</div>
    <div>{{usageSummary.averageDailyUsage | number: '1.2-2'}} {{unitName}}</div>

    <div>Billing rate</div>
    <div>${{usageSummary.rate | number: '1.2-2'}} per {{unitName}}</div>

    <div>Projected cost this period</div>
    <div>${{usageSummary.projectedCost | number: '1.2-2'}}</div>

    <div>Projected usage this period</div>
    <div>{{usageSummary.projectedUsageTotal | number: '1.2-2'}} {{unitName}}</div>

    <div>Billing period</div>
    <div>{{billingPeriodFormat(usageSummary.billingPeriodStart)}} through {{billingPeriodFormat(usageSummary.billingPeriodEnd)}}</div>

    <div>Days remaining in period</div>
    <div>{{usageSummary.daysRemainingInPeriod | number: '1.0-0'}}</div>
  </div>

  <div *ngIf="chartOptionsReady">
    <google-chart [options]="chartOptions" [type]="chartType" [data]="chartData"></google-chart>
  </div>
</div>