<p>tenant-resource-usage-detail works!</p>
<div>
  <div>usage summary</div>
  <div>resource: {{usageSummary.resource | resourceAsString }}</div>
  <div>billingPeriodStart: {{usageSummary.billingPeriodStart}}</div>
  <div>billingPeriodEnd: {{usageSummary.billingPeriodEnd}}</div>
  <div>actualUsage: {{usageSummary.actualUsage}}</div>
  <div>projectedUsageTotal: {{usageSummary.projectedUsageTotal}}</div>
  <div>daysRemainingInPeriod: {{usageSummary.daysRemainingInPeriod}}</div>
  <div>averageDailyUsage: {{usageSummary.averageDailyUsage}}</div>
  <div>rate: {{usageSummary.rate}}</div>
  <div>currentCost: {{usageSummary.currentCost}}</div>
  <div>projectedCost: {{usageSummary.projectedCost}}</div>
</div>
<div>
  <p>usage data</p>
  <div *ngIf="chartOptionsReady">
    <google-chart
    *ngIf="usageSummary.resource == 0 || usageSummary.resource == 1"
    [options]="chartOptions" [type]="chartType" [data]="chartData"></google-chart>
  </div>
</div>
<hr>