<div>
  <h2 class="mb-4">Welcome Manager</h2>
  <div class="mb-4">
    <h4>Manage Lease Agreements</h4>
    <hr />
    <div class="col-3 p-0">
      <a
        [routerLink]="['/manager/lease-agreement/assign']"
        class="btn btn-primary mb-1 w-100"
      >
        Assign Lease To a Tenant
      </a>
      <a
        [routerLink]="['/manager/lease-agreement/new-template']"
        class="btn btn-primary mb-1 w-100"
      >
        Create a New Lease Template
      </a>
      <a [routerLink]="['/']" class="btn btn-primary mb-1 w-100">
        View Lease Agreements
      </a>
    </div>
  </div>

  <div class="mb-4">
    <h4>Maintenance Requests</h4>
    <hr />
    <div class="d-inline-block col-3 p-0">
      <a [routerLink]="['/']" class="btn btn-primary mb-1 w-100">
        View Maintenace Requests
      </a>
    </div>
  </div>
</div>
