<h1>Router hub</h1>

<h3>Universal Routes</h3>
<div><a [routerLink]="['/hub']">Router Hub</a></div>
<div><a *ngIf="!currentUser" [routerLink]="['/login']">Login</a></div>
<div><a *ngIf="currentUser" (click)="logout()">Logout</a></div>

<h3>Tenant Routes</h3>
<div><a [routerLink]="['/tenant']">/tenant</a></div>
<div><a [routerLink]="['/tenant/payment']">/tenant/payment</a></div>
<div><a [routerLink]="['/create/maintenance']">/create/maintenance</a></div>
<div><a [routerLink]="['/maintenance-requests']">/maintenance-requests</a></div>
<div><a [routerLink]="['/tenant/payment']">/tenant/payment</a></div>

<h3>Manager Routes</h3>
<div><a [routerLink]="['/manager']">/manager</a></div>
<div><a [routerLink]="['/manager/payment']">/manager/payment</a></div>
<div><a [routerLink]="['/tenants']">/tenants</a></div>
<div><a [routerLink]="['/tenant-detail/5']">/tenant-detail/5</a></div>