<p>Request Maintenance</p>

<h1>Maintenance Requests</h1>
<table id="reqs">
    <tr>
        <th *ngFor = "let column of headers">
            {{column}}
        </th>
    </tr>
    <tr *ngFor = "let row of rows">
        <td *ngFor = "let column of headers">
            {{row[column]}}
        </td>
        <!-- I want to use a logical rule to check the database to see if the request has been closed and if not, display the option to close it.-->
        <td <!--*ngIf="notClosed" -->>
            <a href=#>cancel</a>
        </td>
    </tr>
</table>