<div class="header">
  <h1>Project 2</h1>
  <p>Apartment Property Management</p>
</div>
<div class="sidenav">
  <a [routerLink]="['/']">Home</a>
  <a>Payments</a>
  <a *ngIf="isTenant" [routerLink]="['/maintenance-requests']">
    Maintenance<br />Requests
  </a>
  <a>Lease<br />Agreement</a>
  <a *ngIf="currentUser" [routerLink]="isManager ? ['/manager'] : ['/tenant']">
    Details
  </a>
  <a *ngIf="!currentUser" [routerLink]="['/login']">Login</a>
  <a *ngIf="currentUser" (click)="logout()">Logout</a>
</div>
