<div *ngIf="!agreements && !tenants">Loading agreements...</div>
<div *ngIf="agreements && tenants" class="offset-2">
  <table class="table">
    <caption>All Agreements</caption>
    <thead>
      <tr>
        <th scope="col">Tenant</th>
        <th scope="col">Title</th>
        <th scope="col">Signed Date</th>
        <th scope="col">Effective Date</th>
        <th scope="col">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agreement of agreements">
        <td>{{ getTenantNameFromId(agreement.tenantId) }}</td>
        <td>{{ agreement.title }}</td>
        <td>
          <span *ngIf="agreement.signedDate">{{
            agreement.signedDate | date
          }}</span>
          <span *ngIf="!agreement.signedDate" class="bg-danger text-light">Not Signed</span>
        </td>
        <td>{{ agreement.startDate | date }}</td>
        <td>{{ agreement.endDate | date }}</td>
        <td>
          <div class="button-container">
            <div>
              <a [routerLink]="['/tenant/agreement/detail', agreement.agreementId]"
                  class="btn btn-primary">View</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>