<div>
  <h2>Sign Up</h2>
  <form [formGroup]="tenantCreationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tenantEmail">Tenant's email</label>
      <input
        type="text"
        formControlName="tenantEmail"
        class="form-control"
        id="tenantEmail"
        [ngClass]="{ 'is-invalid': submitted && f.tenantEmail.errors }"
      />
      <div *ngIf="submitted && f.tenantEmail.errors" class="invalid-feedback">
        <div *ngIf="f.tenantEmail.errors.required">An email is required</div>
        <div *ngIf="f.tenantEmail.errors.email">Please enter a valid email</div>
      </div>
    </div>

    <div class="form-group">
      <label for="tenantPassword">Password</label>
      <input
        type="password"
        formControlName="tenantPassword"
        class="form-control"
        id="tenantPassword"
        [ngClass]="{ 'is-invalid': submitted && f.tenantPassword.errors }"
      />
      <div
        *ngIf="submitted && f.tenantPassword.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.tenantPassword.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="tenantConfirmPassword">Confirm Password</label>
      <input
        type="password"
        formControlName="tenantConfirmPassword"
        class="form-control"
        id="tenantConfirmPassword"
        [ngClass]="{
          'is-invalid': submitted && f.tenantConfirmPassword.errors
        }"
      />
      <div
        *ngIf="submitted && f.tenantConfirmPassword.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.tenantConfirmPassword.errors.required">
          Comfirm Password is required
        </div>
        <div *ngIf="f.tenantConfirmPassword.errors.confirmValidator">
          Passwords do not match
        </div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        Create Account
      </button>
      <div *ngIf="loading">Processing...</div>
    </div>
    <div *ngIf="error" class="alert-danger">{{ error }}</div>
  </form>
</div>
