<div *ngIf="maintenanceRequests">
  <h2 *ngIf="isManager">Maintenance Requests</h2>
  <a
    class="btn btn-primary"
    [routerLink]="[
      isManager ? '/manager/maintenance/new' : '/tenant/maintenance/new'
    ]"
  >
    Create New Request
  </a>
  <table class="table">
    <caption *ngIf="isTenant && tenant">
      {{ tenant.firstName }}'s Maintenance Requests
    </caption>
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Requester</th>
        <th scope="col">Unit Number</th>
        <th scope="col">Time Created</th>
        <th scope="col">Status</th>
        <th scope="col">Notes</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of maintenanceRequests">
        <td>{{ request.maintenanceRequestType }}</td>
        <td>{{ request.openedBy }}</td>
        <td>{{ request.unitNumber }}</td>
        <td>{{ request.timeOpened | date: 'MM/dd/yy h:mm aa' }}</td>
        <td>
          <span *ngIf="request.timeClosed">
            Closed by: {{ request.closedBy }}<br />
            on: {{ request.timeClosed | date: 'MM/dd/yy h:mm aa' }}<br />
            Reason: {{ request.closeReason | maintenanceCloseReasonAsString }}
          </span>
          <span *ngIf="!request.timeClosed">Open</span>
        </td>
        <td>{{ request.openNotes }}</td>
        <td>
          <span *ngIf="!request.closedBy">
            <button *ngIf="isManager" class="btn btn-primary" (click)="completeRequest(request)">
              Complete
            </button>
            <button class="btn btn-danger" (click)="cancelRequest(request)">
              Cancel
            </button>
          </span>
          <button
            style="cursor: default;"
            s
            *ngIf="request.closedBy"
            class="btn {{
              request.closeReason === closeReason.Completed
                ? 'btn-success'
                : 'btn-danger'
            }}"
            disabled
          >
            {{
              request.closeReason === closeReason.Completed
                ? 'Completed'
                : 'Canceled'
            }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
