<h1>Router hub</h1>

<h3>Universal Routes</h3>
<div><a [routerLink]="['/hub']">Router Hub</a></div>
<div><a *ngIf="!currentUser" [routerLink]="['/login']">Login</a></div>
<div><a *ngIf="currentUser" (click)="logout()">Logout</a></div>
<div><a [routerLink]="['/agreements']">Agreements</a></div>

<h3>Tenant Routes</h3>
<div><a [routerLink]="['/tenant']">/tenant (home)</a></div>
<div><a [routerLink]="['/tenant/edit']">/tenant/edit/</a></div>
<div><a [routerLink]="['/tenant/tenantInfo/5']">/tenant/tenantInfo/:id (id=5)</a></div>
<div><a [routerLink]="['/tenant/maintenance/new']">/tenant/maintenance/new</a></div>
<div><a [routerLink]="['/tenant/maintenance/list']">/tenant/maintenance/list</a></div>
<div><a [routerLink]="['/tenant/bill/list']">/tenant/bill/list</a></div>
<div><a [routerLink]="['/tenant/bill/pay', 1, 0]">/tenant/bill/pay/1/0</a></div>
<div><a [routerLink]="['/tenant/agreement/list']">/tenant/agreement/list</a></div>

<h3>Manager Routes</h3>
<div><a [routerLink]="['/manager']">/manager (home)</a></div>
<div><a [routerLink]="['/manager/tenants/list']">/manager/tenants/list</a></div>
<div><a [routerLink]="['/manager/maintenance/list']">/manager/maintenance/list</a></div>
<div><a [routerLink]="['/manager/lease-agreement/assign']">/manager/lease-agreement/assign</a></div>
<div><a [routerLink]="['/manager/lease-agreement/new-template']">/manager/lease-agreement/new-template</a></div>
