<div *ngIf="bill">
  <h2>{{ bill.resource | resourceAsString }}</h2>
  <div>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Period Starts</th>
          <th scope="col">Period Ends</th>
          <th scope="col">Usage</th>
          <th scope="col">Rate</th>
          <th scope="col">Cost</th>
          <th scope="col">Paid</th>
          <th scope="col">Owed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ bill.periodStart | date }}</td>
          <td>{{ bill.periodEnd | date }}</td>
          <td>{{ bill.usage }}</td>
          <td>{{ bill.rate | currency: 'USD' }}</td>
          <td>{{ bill.paid | currency: 'USD' }}</td>
          <td>{{ bill.cost | currency: 'USD' }}</td>
          <td>{{ bill.owed | currency: 'USD' }}</td>
        </tr>
      </tbody>
    </table>

    <div style="display: inline-block;">
      <button
        *ngIf="bill.owed > 0"
        class="btn btn-primary"
        (click)="
          payBill(bill.resource, bill.billingPeriodId, bill.owed)
        "
      >
        Pay {{ bill.resource | resourceAsString }}
      </button>
      <button *ngIf="bill.owed <= 0" class="btn btn-secondary" disabled>
        Bill Paid
      </button>
    </div>
  </div>
</div>

<div *ngIf="!bill">Processing...</div>
